<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <!-- 引入头部 -->
    {{include "./common/header.html"}}

    <!-- 引入侧边 -->
    {{include "./common/side.html"}}

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <table class="layui-table" id="arti" lay-filter="arti">

        </table>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>
  <script src="/assets/layui/layui.js"></script>
  <script>
    // layui.use(['element', 'layer', 'util'], function () {
    //   var element = layui.element
    //     , layer = layui.layer
    //     , util = layui.util
    //     , $ = layui.$;

    //   //头部事件
    //   util.event('lay-header-event', {
    //     //左侧菜单事件
    //     menuLeft: function (othis) {
    //       layer.msg('展开左侧菜单的操作111', { icon: 0 });
    //     }
    //     , menuRight: function () {
    //       layer.open({
    //         type: 1
    //         , content: '<div style="padding: 15px;">处理右侧面板的操作234</div>'
    //         , area: ['260px', '100%']
    //         , offset: 'rt' //右上角
    //         , anim: 5
    //         , shadeClose: true
    //       });
    //     }
    //   });
    // });
    layui.use(['table', 'layer'], function () {
      var table = layui.table;
      var layer = layui.layer;
      var laydate = layui.laydate;
      var util = layui.util;
      var $ = layui.jquery;
      // 渲染数据
      table.render({
        elem: '#arti',
        // 渲染数据接口
        url: '/artiData',
        toolbar: '#artiTool',
        cols: [[
          { field: 'id', width: 150, title: 'ID', sort: true },
          { field: 'title', width: 150, edit: 'text', title: '标题', sort: true },
          { field: 'content', width: 150, edit: 'text', title: '内容', sort: true },
          { field: 'author', width: 150, edit: 'text', title: '作者', sort: true },
          { field: 'status', width: 150, edit: 'text', title: '状态', sort: true },
          { field: 'add_date', width: 150, edit: 'text', title: '添加时间', sort: true },
          { field: 'pic', width: 150, edit: 'text', title: '图片', sort: true },
          { field: 'cate_id', width: 150, edit: 'text', title: '分类排序', sort: true },
          {
            fixed: "right", width: 150, title: '操作', templet: (obj) => {
              return `
          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          `
            }

          }
        ]]
      })
 
    // 编辑数据
      table.on('edit(arti)', async function (obj) {
        const { data } = obj;
        // 发送请求，传递数据，并且成功接受返回的参数
        const { code, message } = await $.post('/artiUpdData', data)
        if (code === '0') {
          layer.msg(message)
          table.reload("arti")
        }
      });
      // 删除数据
      table.on('tool(arti)', function (obj) {
        var data = obj.data;
        if (obj.event == 'del') {
          layer.confirm('真的删除行么',async function () {
            let { code, message } = await $.post('/artiDel', data)
            console.log(code);
            if (code === "0") {
              layer.msg(message)
              table.reload("arti") 
              // layer.close(index);
            }
          });
        }
      })

    })
  </script>

</body>

</html>