<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>德德后台管理系统</title>
  <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <!-- 引入头部 -->
    {{include "./common/header.html"}}

    <!-- 引入侧边 -->
    {{include "./common/side.html"}}

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">首页区域</div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>
  <script src="/assets/layui/layui.js"></script>
  <script>
    //JS 
    layui.use(['element', 'layer', 'util'], async function () {
      var element = layui.element
        , layer = layui.layer
        , util = layui.util
        , $ = layui.$;
        // 1、请求系统设置的数据接口（注意是所有的，后面需要帅选）
        let logoText = ''
        result = await $.get("/systemData")
        result.find(item=>{
            if(item.name === "logoText"){
             logoText = item.val
              return true
            }
        })
        $("#logoText").text(logoText)
        // 储存到localStorage中，供其他页面使用
        localStorage.setItem("logoText", logoText)


      $('#edit').click(function () {
        layer.prompt({
          formType: 2,
          title: '编辑昵称',
          value: logoText,
          area: ['500px', '25px'] //自定义文本域宽高
        }, async function (value, index, elem) {
          let data = {logoText:value}
          layer.close(index);
          let { code, message } = await $.post("/editsettings", data)
          if (code === "0") {
            layer.msg('编辑成功')
            location.reload()
          }
        });
        // $(".layui-layer-content").append("<br/><input type=\"text\" id= \"zxr\" class=\"layui-input\" />")
      })



    });
  </script>
</body>

</html>